<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  develops and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, illo similique non iste maiores soluta in! Ullam, quisquam, nemo doloremque in perferendis optio possimus error nihil veniam ratione provident aliquid!</p>
</div>
